.title, .generalOptions{
	display: inline-block;
}

.title{
	font-weight: bold;
	font-size: 13px;
	font-family: "Comic Sans MS","Microsoft Yahei", cursive !important;
	color: #35A;
}

.generalOptions{
	margin: auto;
	padding: 0;
	margin-left: 268px;
}

.top{
	width: 450px;
	vertical-align: center;
	position: fixed;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #ffffff; 
	z-index: 99;
}

.mailbox{
	width: 450px;
	height: 300px;
	padding-top: 30px;
}


.boxHeader{
	font: Arial;
	font-size: 15px;
	font-weight: bold;
	color: #79B;
	padding: 0;
}

.boxHeader div, .boxHeader ul{
	display: inline-block;
}

li{
	list-style: none;
	display: inline-block;
	font-family: Arial;
	font-size: 13px;
}

.logout{
	background: url("../img/logout.png");
	height: 16px;
	width: 16px;
	background-size: 16px 16px;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	top:3px;
}

.refresh{
	background: url("../img/refresh.png");
	height: 13px;
	width: 13px;
	background-size: 13px 13px;
	background-position: center;
	background-repeat: no-repeat;
}

.refresh:hover,.close:hover,.logout:hover{
	cursor: pointer;
	opacity: 0.9;
}

.close{
	background: url("../img/close.png");
	height: 13px;
	width: 13px;
	background-size: 13px 13px;
	background-position: center;
	background-repeat: no-repeat;
}

.refresh,.close,.logout{
	opacity: 0.5;
}

.s{
	display: none;
	position: relative;
	height: 23px;
	width: 23px;
}

.read.s{
	height: 13px !important;
	width: 80px !important;
	padding-top: 0px; 
	padding-bottom: 2px;
	font-size: 12px;
	text-decoration: none;
	text-align: center;
	font-family: "Comic Sans MS","Microsoft Yahei", cursive !important;
	color: #eaeaea;
	background: #2E6CA4;
	border-radius: 3px;
	position: relative;
}

.mailInfo, .mailActions{
	display: inline-block;
}

.mailActions:hover > .s{
	display: inline-block;
}

.mailActions{
	float: right;
	position: relative;
	top: -20px;
}

.mailActions a{
	opacity: 0.5;
	vertical-align: middle;
}

.mailActions a:hover{
	opacity: 0.9;
}

.more img{
	height: 13px;
	width: 13px;
}

a.s{
	height: 15px;
	width: 15px;
	position: relative;
}

.s img{
	height: 15px;
	width: 15px;
	position: relative;
}

.options img{
	height: 14px; 
	width: 14px;
}

.mailInfo{
	font-family: "Comic Sans MS","Microsoft Yahei", cursive !important;
	width: 460px;
}

.mailInfo label{
	color: #5c8ce4;
}

.mailInfo .title{
	width: 340px;
	display: block;
}

.mailInfo .author{
	width: 170px;
	display: inline-block;
	margin-left:5px;
}

.mailInfo .author, .mailInfo .issued{
	font-size: 13px !important;
}

.mailInfo .title{
	margin-right: 150px;
	font-weight: bold;
	font-size: 14px !important;
}

.summary{
	font-family: "Comic Sans MS","Microsoft Yahei", cursive !important;
	font-size: 13px !important;
	color: #4c6cc4;
	width: 430px;
	margin-top: 1px;
	margin-left: 5px;
}

.entry{
	margin-top: 5px;
	padding-bottom: 7px;
	border-bottom: 1px #ddddff groove 
}