body{
	min-height: 45px;
	min-width:180px;
	margin: 0px 15px 3px 15px;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 300px;
}

.logarea{
	padding-top: 8px;
}

input.uid, input.password{
	background:transparent;
	border:none;
	color: #888;
	font-size: 13px;
	height: 25px;
	border: 1px solid #B8B8B8;
}

input.uid:focus, input.password:focus{
	border-color: #85C3DD;
    box-shadow: 0 0 5px #85C3DD;
}

::-webkit-input-placeholder {
	color: #BBB;
	font-family: 'Microsoft Yahei';
	letter-spacing: 0.5em;
	font-size: 13px;
	position: relative;
	top:-2px;
	/*padding-left: 15px;*/
}

.inptr{
	margin: 8px auto ;
	font-family: "Microsoft Yahei";
}

input.uid{
	background: url("../img/bg.gif") no-repeat -3px -7px;
	padding: 6px 3px 6px 25px;
	
}

input.password{
	background: url("../img/bg.gif") no-repeat -3px -145px;
	padding: 6px 3px 6px 25px;
}

input.loginButton{
	text-align: center;
	margin-left: 65px;
}

.top .title:hover{
	cursor: pointer;
}
