<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="../js/vendor/jquery-1.8.1.min.js" type="text/javascript"></script>
	<script src="../js/vendor/date.js" type="text/javascript"></script>
	<script src="../js/template/mail.js" type="text/javascript"></script>
	<script src="../js/popup.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" media="screen" href="../css/popup.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../css/mail.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="../css/scrollbar.css" />
</head>
<body> 
	<div id = "main">
	</div>
</body></html>
